.page {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #555555;
}

.time {
  font-size: xx-large;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  white-space: nowrap;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.playerScore {
  border-top: 3px solid #333333;
}

.opponentScore {
  border-bottom: 3px solid #333333;
}

.sidebar {
  background-color: #111111;
}

.game {
  display: grid;
  grid-template-columns: minmax(0, 4fr) minmax(0, 1fr);
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
}

.gameBoard {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  height: 100vh;
  max-width: 100%;
}

.tableTop {
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #333333;
  height: 100%;
  padding: 15px;
  max-height: 100%;
  max-width: 100%;
  /* display: flex; */
  align-self: flex-start;
}

.boardAndTimers {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.timers {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 0px;
  padding-left: 15px;
}

.playerTimer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.opponentTimer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.opponentInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.playerNametag {
  background-color: #555555;
  font-size: small;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opponentNametag {
  background-color: #555555;
  font-size: small;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
}

.boardContainer9x9 {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  height: 100%;
  background-image: url('/board9x9.svg');
  background-size: 100% 100%;
  padding: 1.087%; /* board svg is 50px per square with 5px at each end, hence 5 / (50*9 + 10) = 1.087% */
}

.board9x9 {
  display: grid;
  grid-template-rows: repeat(9, minmax(0, 1fr));
  grid-template-columns: repeat(9, minmax(0, 1fr));
  max-height: 100%;
  max-width: 100%;
}

.boardContainer13x13 {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  height: 100%;
  background-image: url('/board13x13.svg');
  background-size: 100% 100%;
  padding: 0.758%; /* board svg is 50px per square with 5px at each end, hence 5 / (50*13 + 10) = 0.758% */
}

.board13x13 {
  display: grid;
  grid-template-rows: repeat(13, minmax(0, 1fr));
  grid-template-columns: repeat(13, minmax(0, 1fr));
  max-height: 100%;
  max-width: 100%;
}

.boardContainer19x19 {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  height: 100%;
  background-image: url('/board19x19.svg');
  background-size: 100% 100%;
  padding: 0.521%; /* board svg is 50px per square with 5px at each end, hence 5 / (50*19 + 10) = 0.521% */
}

.board19x19 {
  display: grid;
  grid-template-rows: repeat(19, minmax(0, 1fr));
  grid-template-columns: repeat(19, minmax(0, 1fr));
  max-height: 100%;
  max-width: 100%;
}

.square {
  position: relative;
  border: 0px solid #999;
  float: left;
  margin: 1px;
  padding: 0; 
  background-color: transparent;
  /* background-size: cover; */
  aspect-ratio: 1 / 1; 
}

.passButton {
  background-color: #555555;
  border: 0;
  margin-bottom: 3px;
  transition: background-color 50ms;
  color: #eeeeee;
}

.passButton:hover {
  background-color: #666666;
}

.confirmDeadButton {
  background-color: #333333;
}

.piece {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
}

.deadPiece {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 50%;
}

.latestMoveMarkerBlack {
  position: absolute;
  height: 33%;
  width: 33%;
  background-color: #FFFFFF;
  border-radius: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.latestMoveMarkerWhite {
  position: absolute;
  height: 33%;
  width: 33%;
  background-color: #000000;
  border-radius: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playerMarkedDead {
  position: absolute;
  height: 33%;
  width: 33%;
  background-color: #888888;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opponentMarkedDead {
  position: absolute;
  height: 33%;
  width: 33%;
  background-color: #888888;
  color: #000000;
  font-weight: bold;
  border-radius: 50%;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blackTerritory {
  position: absolute;
  height: 33%;
  width: 33%;
  background-color: #000000;
  border-radius: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whiteTerritory {
  position: absolute;
  height: 33%;
  width: 33%;
  background-color: #FFFFFF;
  border-radius: 33%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.utilities {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.history {
  background: #333333;
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px #111111;
  flex: 1 1 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.historyRow:nth-child(odd) {
  background-color: #444444;
}

.historyRow {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr) minmax(0, 4fr);
  padding: 5px;
}

.historyIndex {
  font-size: small;
  align-self: flex-end;
}

.historyMove {
  padding-left: 20%;
  font-weight: bold;
}

.chat {
  background: #333333;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px #111111;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chatHistory {
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  flex-grow: 1;
  padding-left: 0;
}

.chatMessage:nth-child(odd) {
  background-color: #444444;
}

.chatMessage {
  font-size: small;
  padding: 5px;
}

.chatSender {
  font-weight: bold;
}

.chatBox {
  flex-grow: 0;
  background: #555555;
  border-radius: 15px;
  border: 0;
  border-top: 1px #555555;
  padding: 10px;
  margin: 3px;
  color: #eeeeee;
}
