.page {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  font-size: xx-large;
  padding: 10px;
}

.sidebar {
  background-color: #111111;
}

.game {
  display: grid;
  grid-template-columns: minmax(0, 4fr) minmax(0, 1fr);
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
}

.gameBoard {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  max-width: 100%;
}

.tableTop {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-self: flex-start;
}

.boardAndTimers {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.timers {
  display: grid;
  grid-template-rows: 4fr 7fr 1fr 4fr;
  border: 1px solid;
}

.boardContainer {
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  height: 100%;
  background-image: url('/board9x9.svg');
  background-size: 100% 100%;
  padding: 0.8%;
}

.board {
  display: grid;
  grid-template-rows: repeat(9, minmax(0, 1fr));
  grid-template-columns: repeat(9, minmax(0, 1fr));
  max-height: 100%;
  max-width: 100%;
}

.square {
  position: relative;
  border: 0px solid #999;
  float: left;
  margin: 1px;
  padding: 0; 
  background-color: transparent;
  /* background-size: cover; */
  /* aspect-ratio: 1 / 1; */
}

.passButton {
  background-color: #333333;
  border: 0;
  margin-bottom: 3px;
  transition: background-color 50ms;
  color: #eeeeee;
}

.passButton:hover {
  background-color: #666666;
}

.confirmDeadButton {
  background-color: #333333;
}

.piece {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.playerMarkedDead {
  position: absolute;
  color: blue;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.opponentMarkedDead {
  position: absolute;
  color: red;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
}

.blackTerritory {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.whiteTerritory {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.utilities {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.history {
  background: #333333;
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px #111111;
  flex: 1 1 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.historyRow:nth-child(odd) {
  background-color: #444444;
}

.historyRow {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr) minmax(0, 1fr) minmax(0, 4fr);
  padding: 5px;
}

.historyIndex {
  font-size: small;
  align-self: flex-end;
}

.historyMove {
  padding-left: 20%;
  font-weight: bold;
}

.chat {
  background: #333333;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 1px 5px #111111;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chatHistory {
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  flex-grow: 1;
  padding-left: 0;
}

.chatMessage:nth-child(odd) {
  background-color: #444444;
}

.chatMessage {
  font-size: small;
  padding: 5px;
}

.chatSender {
  font-weight: bold;
}

.chatBox {
  flex-grow: 0;
  background: #555555;
  border-radius: 15px;
  border: 0;
  border-top: 1px #555555;
  padding: 10px;
  margin: 3px;
  color: #eeeeee;
}
